main{
    display: flex;
    place-items: center;
}

.content{
    width: 100%;
    height: 550px;
    justify-content: center;
}


.content>p{
    font-size: 2.4rem;
}

.content>button{
    margin-bottom: 0;
}

